* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.moveToRight {
    -webkit-animation: moveToRight .6s ease both;
    animation: moveToRight .6s ease both;
}

@-webkit-keyframes moveToRight {
    from {}
    to {
        -webkit-transform: translateX(100%);
    }
}

@keyframes moveToRight {
    from {}
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}


/* MOBILE VERSION */

/* main page*/

.Lefttsidenav {
    display: none;
}

.Rightsidenav {
    display: none;
}

.header {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0 auto;
    width: 100vw;
    padding-bottom: 5vh;
}

.header .name {
    font-weight: 100;
    font-family: "Poiret One";
    justify-self: end;
    padding-right: 5vw;
    padding-top: 2vh;

}

.header .wrapper-letters {
    display: none;
}

.header .main {
    justify-self: start;
    padding-left: 5vw;
    padding-top: 7vw;

}

.header span img {
    width: 50px;
}

.animation .gif {
    display: none;
}

.container .Rnav {
    display: none;

}

.container .Lnav {
    display: none;

}

.animation .mob_ver img {
    max-width: 100vw;
    height: auto;
}


.footer {
    width: 70vw;
    margin: 0 auto;
    margin-top: 5vh;
}

.footer hr {
    height: 1px;
    border-top: 0.8px solid gray;
    width: 70vw;
}

.footer footer {
    padding-top: 1vh;
    width: 100vw;
    color: black;
    font-weight: 100;
    font-family: "Poiret One";
    margin: 0 auto;
    font-size: 1em;
    margin-left: 10vw;

}

/* animation Lorelei Heckmann letters */

.wrapper-letters_name {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-family: "Poiret One";
    line-height: 1.4;
    color: #2F2F2F;
    -webkit-transition: color .8s ease;
    transition: color .8s ease;
    cursor: pointer;
}


.wrapper-letters_name span {
    display: inline-block;
    transition: all 200ms ease;
}

.animate-letter_name {
    animation-name: MoveLetters_name;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.17, .67, .83, .67);
}

@keyframes MoveLetters_name {

    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-13px);
    }
    100% {
        transform: translateY(0px);
    }

}


.wrapper-letters_name:hover {
    color: #f15d62;
    z-index: 2;
}


.wrapper-letters_name:link {
    color: #525152;
}

.wrapper-letters_name:visited {
    color: #A3A2A3;
}

.wrapper-letters_name:before {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    bottom: 0%;
    left: 0%;
    visibility: hidden;
    background-color: #f15d62;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


.wrapper-letters_name:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1.1);
    transform: scaleX(1.1);
}

/* menu */

.sidenav{
    visibility: visible;
    height: 0;
    width: 100vw;
    position: fixed;
    z-index: 10;
    margin-top: 10vh;
    bottom: -10vh;
    background-color: #3F3F3F;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 1s;
    padding-top: 2rem;
}

.sidenav a {
    padding: 80px 8px 8px 32px;
    text-decoration: none;
    font-size: 3vh;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
    align-content: center;
    font-family: "Poiret One";
    font-weight: 100;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.sidenav a:hover {
    color: #f15d62;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 45px;
    margin-left: 50px;
}


/* Animation typewriter */

.desript {
    width: 100vw;
    height: auto;
    font-weight: 100;
    font-size: 2vw;
    font-family: "Poiret One";
    color: #f15d62;
    line-height: 1.4;
    padding-top: 3vh;
    padding-bottom: 5vh;

}

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 210%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation-delay: 4s;
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

.line-2 {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 220%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation typing effect*/

.anim-typewriter2 {
    animation: typewriter2 4s steps(44) 1s 1 normal both,
    blinkTextCursor2 500ms steps(44) infinite normal;
}

@keyframes typewriter2 {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor2 {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}


/* MOBILE VERSION ABOUT PAGE */

.box {
    display: none;
}


.about_me {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100vw;



}


.about_me img {
    max-width: 100vw;
    height: auto;
}

.icons {
    width: 100vw;
    height: 8vh;
    margin: 0 auto;
    cursor: pointer;
    display: inherit;
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    background-color: #ebebeb;
    padding-left: 17vw;
    grid-gap: 2vw;

}


.icons .behance {
    background-image: url('images/behance_logo_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    max-width: 8vw;
    max-height: 8vh;
    margin-top: 0.7vh;
}

.icons .behance:hover {
    background-image: url('images/behance_logo_gold.png');
    height: auto;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 8vw;
    max-height: 8vh;
}

.icons .github {
    background-image: url('images/github_white_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    max-width: 7vw;
    max-height: 7vh;
}

.icons .github:hover {
    background-image: url('images/github_logo_gold.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    max-width: 7vw;
    max-height: 7vh;
}

.icons .codepen {
    background-image: url('images/codepen_white_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    max-width: 7vw;
    max-height: 7vh;
}

.icons .codepen:hover {
    background-image: url('images/codepen_logo_gold.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    max-width: 7vw;
    max-height: 7vh;
}


.icons .linkedin {
    background-image: url('images/linkedin_white_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    max-width: 6vw;
    max-height: 6vh;
}

.icons .linkedin:hover {
    background-image: url('images/linkedin_gold_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    max-width: 6vw;
    max-height: 6vh;
}

.icons .mail {
    background-image: url('images/mail_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    max-width: 7vw;
    max-height: 7vh;
    margin-top: 0.5vh;

}

.icons .mail:hover {
    background-image: url('images/mail_icon_gold.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    max-width: 7vw;
    max-height: 7vh;
}

.bubbles {
    display: none;
}

.about_me h1 {
    font-family: "Poiret One";
    font-size: 2em;
    color: #b8860b;
    padding-top: 2vh;
    padding-left: 5vw;
}


.about_me .description p {
    font-family: "Poiret One";
    font-weight: 100;
    font-size: 1.3em;
    padding-top: 2vh;
    padding-bottom: 4vh;
    margin: 0 auto;
    width: 90vw;
    color: dimgrey;
}

.header_skills {
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-weight: 600;
    font-family: "Poiret One";
    font-size: 2em;
    color: white;
    width: 100vw;
    margin: 0 auto;
    padding-left: 35vw;
    letter-spacing: 10px;
    top: 5vh;
  
}

.skills {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100vw;
    justify-items: center;
    background: linear-gradient(#ebebeb, #ffffff);
}

.skills .chemistry_d {
    padding-top: 2vh;
    font-weight: 100;
    font-family: "Poiret One";
    font-size: 1.3em;
    padding-bottom: 7vh;
    justify-self: center;
    padding-left: 3vh;
}

/* TABLET VERSION */

@media only screen and (min-width: 650px) {


    /* main page*/
    .header {
        position: absolute;
        z-index: 3;
    }

    .desript{
        padding-top: 15vh;
    }
    .sidenav {
        z-index: 4;
    }
    .line-1 {
        font-size: 150%;
    }

    .line-2 {
        font-size: 150%;
    }

    .mob_ver {
        display: none;
    }
    .animation .gif {
        display: block;
    }

    .animation .gif img {
        max-width: 100vw;
        height: auto;

    }

    .footer footer {
        margin-left: 20vw;
    }

    /*about me page*/
    .box {
        width: 50vw;
        height: 100vh;
        z-index: -5;
        background-color: #ebebeb;
        float: right;
        position: relative;
        display: block;
        z-index: 1;

    }
    .about_me {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        width: 100vw;
        height: auto;
        position: absolute;
        z-index: 2;
        padding-top: 20vh;
    }

    .about_me img {
        max-width: 50vw;
        height: auto;
        order: 2;

    }

    .about_me .icons {
        order: 3;
        width: 40vw;
        height: 5vh;
        padding-left: 0;
        grid-column-start: 2;
        grid-column-end: 2;
        justify-self:end;
        display: grid;
        grid-template-columns: 15% 15% 15% 15% 15%;
        grid-gap: 2vw;
    }

    .about_me .description {
        width: 50vw;
        margin: 0;
        order: 1;
        height:auto;

    }


    .about_me .description h1 {
        font-family: "Poiret One";
        font-weight: 400;
        font-size: 2em;
        color: #BFA787;
        padding-top: 0;
        width: 45vw;

    }

    .about_me .description p {
        font-family: "Poiret One";
        font-weight: 100;
        font-size: 1.3em;
        padding-top: 2vh;
        padding-bottom: 4vh;
        width: 40vw;
    }


    .header_skills {
        padding-bottom: 7vh;
        margin-left: 0;
        color: darkgoldenrod;
        padding-left: 0;
         grid-column-start: 1;
        grid-column-end: 9;
        width:100vw;
        padding-left: 42vw;
    
    
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0 auto;
        max-width: 100vw;
        background-color: #f4f4f4;
        
    }


    .chemistry .first {
        width: 9vw;
    }

    .chemistry .img {
        width: 5vw;
    }

    .skills .chemistry_d {
        font-size: 1.2em;
        padding-left: 1vw;
    }

}

@media only screen and (min-width: 900px) {

    /* animation MENU letters */
    .wrapper-letters {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 30px;
        font-family: "Poiret One";
        line-height: 1.4;
        color: #606060;
        -webkit-transition: color .8s ease;
        transition: color .8s ease;
        cursor: pointer;
    }

    .wrapper-letters span {
        display: inline-block;
        transition: all 200ms ease;
    }

    .animate-letter {
        animation-name: MoveLetters;
        animation-duration: 0.4s;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(.17, .67, .83, .67);
    }

    @keyframes MoveLetters {

        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-13px);
        }
        100% {
            transform: translateY(0px);
        }

    }

    .wrapper-letters:hover {
        color: #f15d62;
    }


    .wrapper-letters:link {
        color: #525152;
    }

    .wrapper-letters:visited {
        color: #A3A2A3;
    }



    /* nav - on the left and right side*/
    .Rightsidenav {
        display: block;
        height: 77vh;
        top: 20vh;
        width: 0;
        position: fixed;
        z-index: 3;
        left: 0;
        background-color: #FFD367;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 2rem;
        
        

    }

    .Rightsidenav a {
        text-decoration: none;
        font-size: 4vh;
        color: white;
        display: block;
        transition: 0.4s;
        text-align: center;
        align-content: center;
        font-family: "Wire One";
        font-weight: 100;
        margin-top: 25vh;
        letter-spacing: 5px;


    }

    .Rightsidenav a:hover {
        color: dimgrey;
    }


    .Lefttsidenav {
        display: block;
        height: 76vh;
        top: 20vh;
        width: 0;
        position: absolute;
        position: fixed;
        z-index: 9;
        right: 0;
        background-color: #3C5BA9;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 2rem;
        margin-right: -2vw;
        


    }

    .Lefttsidenav a {
        text-decoration: none;
        font-size: 4vh;
        color: white;
        display: block;
        transition: 0.4s;
        text-align: center;
        align-content: center;
        font-family: "Wire One";
        font-weight: 100;
        letter-spacing: 5px;
        margin-top: 25vh;


    }

    .Lefttsidenav a:hover {
        color: gray;
    }


    /* left and right navigation grid*/
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        width: 100vw;
        position: absolute;


    }

    .container .Rnav {
        width: 17vw;
        height: auto;
        display: block;
        cursor: pointer;
        position: fixed;
        top: 50vh;
        
    }



    .container .Lnav {
        align-self: center;
        width: 17vw;
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr;
        cursor: pointer;
        justify-self: end;
        position: fixed;
        top: 50vh;
        margin-left: 85vw;
        z-index: 6;

    }
    .container .Rnav .Rline {

        height: 2px;
        border-top: 1px solid black;
        width: 10vw;
        display: block;
        z-index: 200;

    }

    .container .Rnav p {
        writing-mode: vertical-rl;
        text-orientation: upleft;
        padding-left: 10vw;
        font-weight: 100;
        font-family: "Wire One";
        font-size: 3vw;
    }
    .container .Lnav .Lline {
        height: 2px;
        border-top: 1px solid black;
        width: 10vw;
        margin-right: 0;
        float: right;
        z-index: 200;
    }

    .container .Lnav p {
        writing-mode: vertical-rl;
        text-orientation: upleft;
        font-weight: 100;
        font-family: "Wire One";
        font-size: 3vw;
    }


    .animation .gif img {
        width: 70vw;
        height: auto;
        margin-left: 15vw;
    }


    .line-1 {
        font-size: 2vw;
    }

    .line-2 {
        font-size: 2vw;
    }

    /* header main page*/
    .header {
        display: grid;
        grid-template-columns: 45% 55%;
        z-index: 10;
    }

    .header .main {
        display: grid;
        grid-template-columns: 30% 80%;
        padding-top: 4vh;

    }
    .header .main img {
        width: 40px;
        cursor: pointer;

    }

    .header .main .wrapper-letters {
        display: block;
        padding-left: 1vw;
    }



    /*about me page*/
    .about_me {
        width: 70vw;
        margin-left: 15vw;
        position: absolute;
    }


    .about_me .description {
        width: 35vw;

    }


    .about_me .description h1 {
        width: 35vw;



    }

    .about_me .description p {
        width: 30vw;


    }

    .about_me img {
        max-width: 35vw;

    }

    .header_skills {
        padding-left: 30vw;
        
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 0 auto;
        width: 100vw;
        grid-gap: 0;
        padding-left: 15vw;
        padding-right: 15vw; 
       
    }


    .skills .first {
        width: 6.5vw;
    }
    .skills .img {
        width: 3.5vw;
    }

    .skills .chemistry_d {
        font-size: 1.2em;

    }

}

@media only screen and (min-width: 1100px) {


    /*main page*/
    .desript {
        padding-top: 15vh;
        padding-bottom: 0;
    }

    .anim-typewriter2 {
        animation-delay: 4s;
    }
    .line-1 {
        font-size: 1.4vw;
    }

    .line-2 {
        font-size: 1.3vw;

    }

    .footer {
        padding-top: 0;
    }
    .footer hr {
        width: 40vw;
        margin: 0 auto;
    }


    .header {
        position: absolute;
        display: grid;
        grid-template-columns: 45% 55%;
        z-index: 10;
        width: 100vw;
    }

    .header .name {
        justify-self: start;
    }

    .container .Rnav p {
        font-size: 2.3vw;
    }
    .container .Lnav p {
        font-size: 2.3vw;
    }
    .container .animation .gif img {
        width: 75vw;
        height: auto;
    }


    .bubbles {
        display: block;
    }

    /* floating elements */
    .moveCircle1 {
        animation-name: animationCircle1;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .moveCircle2 {
        animation-name: animationCircle2;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }


    .moveCircle3 {
        animation-name: animationCircle3;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .moveCircle4 {
        animation-name: animationCircle4;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .moveCircle5 {
        animation-name: animationCircle5;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    .moveCircle6 {
        animation-name: animationCircle6;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .moveCircle7 {
        animation-name: animationCircle7;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .moveCircle8 {
        animation-name: animationCircle8;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }


    .moveCircle9 {
        animation-name: animationCircle9;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .moveCircle10 {
        animation-name: animationCircle10;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .moveCircle11 {
        animation-name: animationCircle11;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    .moveCircle12 {
        animation-name: animationCircle12;
        animation-duration: 10s;
        animation-iteration-count: infinite;

    }
    .moveCircle13 {
        animation-name: animationCircle13;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .moveCircle14 {
        animation-name: animationCircle14;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    .moveCircle15 {
        animation-name: animationCircle15;
        animation-duration: 10s;
        animation-iteration-count: infinite;

    }

    .moveCircle16 {
        animation-name: animationCircle16;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }


    .moveCircle17 {
        animation-name: animationCircle17;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .moveCircle18 {
        animation-name: animationCircle18;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .moveCircle19 {
        animation-name: animationCircle19;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    .moveCircle20 {
        animation-name: animationCircle20;
        animation-duration: 10s;
        animation-iteration-count: infinite;

    }
    .moveCircle21 {
        animation-name: animationCircle21;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .moveCircle22 {
        animation-name: animationCircle22;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }

    .moveCircle23 {
        animation-name: animationCircle23;
        animation-duration: 10s;
        animation-iteration-count: infinite;

    }

    .moveCircle24 {
        animation-name: animationCircle24;
        animation-duration: 10s;
        animation-iteration-count: infinite;

    }

    @keyframes animationCircle1 {
        0% {
            transform: translateY(0vh) translateX(5vw) rotate(0deg);
        }
        50% {
            transform: translateY(-6vh) translateX(6vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(5vw) rotate(0deg);
        }

    }

    @keyframes animationCircle2 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-5vh) translateX(0vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }

    @keyframes animationCircle3 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(2vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }

    @keyframes animationCircle4 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(-1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }
    @keyframes animationCircle5 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(2vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }
    @keyframes animationCircle6 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(2vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }

    @keyframes animationCircle7 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-6vh) translateX(3vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }

    @keyframes animationCircle8 {
        0% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }
        50% {
            transform: translateY(-5vh) translateX(-1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }

    }

    @keyframes animationCircle9 {
        0% {
            transform: translateY(0vh) translateX(1vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(2vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(1vw) rotate(0deg);
        }

    }

    @keyframes animationCircle10 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(-1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }
    @keyframes animationCircle11 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(2vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }
    @keyframes animationCircle12 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(2vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }

    @keyframes animationCircle13 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(-1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }
    @keyframes animationCircle14 {
        0% {
            transform: translateY(0vh) translateX(2.5vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(4vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2.5vw) rotate(0deg);
        }

    }
    @keyframes animationCircle15 {
        0% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(-1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }

    }


    @keyframes animationCircle16 {
        0% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }
        50% {
            transform: translateY(-5vh) translateX(-1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }

    }

    @keyframes animationCircle17 {
        0% {
            transform: translateY(0vh) translateX(1vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(2vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(1vw) rotate(0deg);
        }

    }

    @keyframes animationCircle18 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(-1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }
    @keyframes animationCircle19 {
        0% {
            transform: translateY(0vh) translateX(1vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(-2vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(1vw) rotate(0deg);
        }

    }
    @keyframes animationCircle20 {
        0% {
            transform: translateY(0vh) translateX(1vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(1vw) rotate(0deg);
        }

    }

    @keyframes animationCircle21 {
        0% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(3vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2vw) rotate(0deg);
        }

    }
    @keyframes animationCircle22 {
        0% {
            transform: translateY(0vh) translateX(2.5vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(4vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(2.5vw) rotate(0deg);
        }

    }
    @keyframes animationCircle23 {
        0% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(-1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }

    }

    @keyframes animationCircle24 {
        0% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }
        50% {
            transform: translateY(-3vh) translateX(-1vw) rotate(360deg);
        }
        100% {
            transform: translateY(0vh) translateX(0vw) rotate(0deg);
        }

    }
    
    /* about me*/
    
    .skills{
        background-image: linear-gradient(#f9f9f9, #ffffff);
    }

    .skills .first {
        width: 8.5vw;
    }

    .skills .img {
        width: 5vw;
    }
    .Rline {
        display: block;
        position: absolute;
    }

    .about_me {
        margin-top: 15vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70vw;
        height: auto;
        position: absolute;
    }

    .about_me img {
        width: 20vw;
        height: auto;
        z-index: -2;
        margin-left: 15vw;
        order:2;
    }


    .description {
        display: grid;
        grid-template-columns: 34.5vw 2vw;
        width: 51.5vw;
        order: 1;
    }

    .about_me .description p {
        order: 1;
        padding-top: 10vh;
    }
    .about_me .description h1 {
        padding-top: 0;
        writing-mode: vertical-rl;
        text-orientation: upleft;
        height: 80vw;
        color: darkgoldenrod;
        z-index: 8;
        font-size: 2.5em;
        order: 2;
        justify-self: end;
    }
    
    .about_me .icons{
        grid-column-start: 2;
        grid-column-end: 2;
        justify-self:end;
        position: absolute;
        width: 20vw;
        order:3;
        margin-left: 15vw;
        margin-top: 55vh;
        
    }
}

@media only screen and (min-width: 1400px) {

    .container .animation .gif img {
        height: 80vh;
        width: auto;
        margin-left: 20vw;
    }

}

}
